@{
    ViewBag.Title = "Home Page";
}

<div>

    <br />

    <br />
    <br />

    <br />
    <br />

    <br />

    <p style="font-size:x-large">
        The <a href="http://aka.ms/pciblueprint" style="color:blue;">Azure Solutions Blueprint is an automated foundational architecture for PCI DSS-Compliant</a> environments intended to simplify Azure adoption, showcase commonly used reference architecture, and teach customers how to deploy a secure and compliant PaaS solution.
    </p>

    <br />

    <br />

    <b style="text-transform:uppercase;">Disclaimer:</b>
    <ul>
        <li>
            <b> Customer </b> is responsible for conducting appropriate security and compliance reviews of any solution built with this reference architecture,
            as requirements may vary based on the specifics of customer’s implementation and geography.
        </li>
        <li> PCI DSS AND HIPAA requires that an accredited Qualified Security Assessor certify Customer’s solution</li>
    </ul>

</div>



